<%
  skins_path = File.expand_path(File.join(ENV["PBDEV_WORKSPACE"], "skins", params[:author], params[:name]))
  url = "#{$server_url}/skins/#{params[:author]}/#{params[:name]}"
%>
<h2><%= params[:author] %>/<%= params[:name] %>/master (skin)</h2>
<p class="homepage">has following URL:</p>
<p class="url"><a href="<%=url%>/master"><%=url%>/master</a></p>
<p class="url-note">Use this URL to reference this skin in PageBout.</p>

<h3>I see following content of the skin on the disk:</h3>
<p class="note">root path is <code><%= skins_path %></code></p>
<ul>
  <%=
    res = ""
    Dir.glob(skins_path+"/*").each do |file|
      file = File.basename(file)
      res << "<li><a href=\"/skins/#{params[:author]}/#{params[:name]}/master/#{file}\">#{file}</a></li>"
    end
    res
  %>
</ul>

<p><a href="/skins/<%= params[:author]%>">&larr; back to skins by <%= params[:author]%></a></p>