<%
  widgets_path = File.expand_path(File.join(ENV["PBDEV_WORKSPACE"], "widgets", params[:author], params[:name]))
  url = "#{$server_url}/widgets/#{params[:author]}/#{params[:name]}"
%>
<img class="thumbnail" src="<%= params[:name] %>/master/icon.png">
<h2><%= params[:author] %>/<%= params[:name] %>/master (widget)</h2>
<p class="homepage">has following URL:</p>
<p class="url"><a href="<%=url+"/master"%>"><%=url+"/master"%></a></p>
<p class="url-note">Use this URL to reference this widget in PageBout.</p>

<h3>I see following content of the widget on the disk:</h3>
<p class="note">root path is <code><%= widgets_path %></code></p>
<ul>
  <%=
    res = ""
    Dir.glob(widgets_path+"/*").each do |file|
      file = File.basename(file)
      res << "<li><a href=\"/widgets/#{params[:author]}/#{params[:name]}/master/#{file}\">#{file}</a></li>"
    end
    res
  %>
</ul>

<p><a href="/widgets/<%= params[:author]%>">&larr; back to widgets by <%= params[:author]%></a></p>